{% extends "contentj.jinja2" %}


{% block headbody %}

    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/leaflet-1.9.x/leaflet.css"  />
    <script src="https://www.osgeo.cn/static/f2elib/leaflet-1.9.x/leaflet.js"  ></script>

    <title>Leaflet render WFS with custom styles</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        #mapdiv {
            width: 100%;
            height: 500px;
        }
    </style>

{% endblock %}

{% block cntbody %}

    <div id='mapdiv'></div>

    <script type="text/javascript">

        var map = L.map('mapdiv', {
            center: [0, 0],
            zoom: 2
        });

        function loadWFS(layerName, epsg) {
            var param = {
                service: 'WFS',
                version: '2.0.0',
                request: 'GetFeature',
                typeName: layerName,
                outputFormat: 'geojson',
                // FeatureId: 'world-country.227',
                filter: '<Filter><PropertyIsEqualTo><PropertyName>NAME</PropertyName><Literal>SWITZERLAND</Literal></PropertyIsEqualTo></Filter>'
                // srsName: epsg
            };
            var rooturl = 'http://webgis.pub/cgi-bin/mapserv?map=/owg/mfw2.map';
            var u = rooturl + L.Util.getParamString(param, rooturl);
            // alert(u);
            $.ajax({
                url: u,
                dataType: 'json',
                success: loadWfsHandler,
            });
            var layer;

            function loadWfsHandler(data) {
                console.log(data);
                layer = L.geoJson(data, {
 					style:function(feature){
 						return {
 							stroke:true,
 							color:'#333333',
 							opacity: 1,
 			                fillOpacity: 0.1,
 			                fillColor: '#333333',
 							weight:1
 						}
 					},
                    pointToLayer: function (featyre, latlng) {
                    }
                }).addTo(map);
            }
        }
        loadWFS('world-country', '4326')



    </script>

{% endblock %}