{% extends "contentj.jinja2" %}

<title>QUERYMAP object usage</title>

{% block cntbody %}


    <h1>Map search</h1>

    <h2 id="zvd">how to use</h2>

    <p><!--To see this example in action,  open mfd1.map and replace the WEB
        FOOTER line like so:-->
        To see this example in action,  open `mfd1.map` and replace the WEB
        FOOTER line like so:</p>

    <pre><code>WEB
...
#FOOTER    '../templates/footer.html'
FOOTER    '../templates/footer_querymap.html'
...
END</code></pre>

    And add the QUERYMAP object:

    <pre><code>QUERYMAP
SIZE 200 150
STATUS ON
STYLE HILITE # SELECTED | NORMAL
COLOR 255 0 0
END</code></pre>

    <p>Querying a map image object is used to highlight or make a prominent feature, requesting a query on a map or by multiple queries. This means you can display your query results and a map showing the selection query function.</p>

    <p align="center">
        <br>
        <a target="_blank" href="/mfd1.map">View the MapFile</a> |
        <a target="_blank" href="/example3-4_template.html">View the HTML Template</a>
    </p>



    {#
    <h2 id="dk3">Example</h2>

    <form method="get" action="/cgi-bin/mapserv" class="form-horizontal">

        <input type="hidden" name="root" value="/owg">
        <input type="hidden" name="program" value="/cgi-bin/mapserv">

        <!-- The map and layer variables are internal MapServer variables.
             They are required by the mapping application. -->
        <input type="hidden" name="map" value="/owg/mfd1.map">
        <input type="hidden" name="layer" value="states">
        <input type="hidden" name="zoom" value="0">

        <div class="form-group">
            <div class="col-sm-4">
                <select name="map_web" class="form-control">

                    <option value="template example3-4.html header ../maptmpl/example3_header.html footer ../maptmpl/example3_footer_querymap.html">
                       Tutorial 3.4: The Query Map
                    </option>
                </select> &nbsp;
            </div>
            <div class="col-sm-2">
                <input type="submit" name="submit" value="Open tutorial" class="btn btn-sm btn-primary">
            </div>
        </div>


    </form>

     #}


    <h2 id="v91">Open the example</h2>

->->  xx_diff_mfp4_mfp3.htmp

    <form method="get" action="/cgi-bin/mapserv" class="form-horizontal">

        <input type="hidden" name="root" value="/owg">
        <input type="hidden" name="program" value="/cgi-bin/mapserv">

        <!-- The map and layer variables are internal MapServer variables.
             They are required by the mapping application. -->
        <input type="hidden" name="map" value="/owg/mfp4.map">
        <input type="hidden" name="layer" value="states_line">
        <input type="hidden" name="zoom" value="0">

        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <select name="map_web" class="form-control">
                        <option value="template example-p1.html">
                            New example
                        </option>
                    </select> &nbsp;
                </div>
                <div class="col-sm-2">
                    <input type="submit" name="submit" value="Open" class="btn btn-sm btn-primary">
                </div>
            </div>
        </div>
    </form>

{% endblock %}