{% extends "content.jinja2" %}

<title>Spatial search: Class-level query template</title>

{% block mainbody %}

    <div class="container">

        <h1 align="center" id="zv8">Example 3.1: Class-level query template </h1>

        <!-- START OF MAPSERVER FORM -->
        <form name="mapserv" method="GET" action="[program]" class="form-horizontal">
            <fieldset>
                <legend>Class-level query template</legend>
                <br>
                <!-- HIDDEN MAPSERVER CGI VARIABLES -->
                <input type="hidden" name="imgxy" value="[center]">
                <input type="hidden" name="imgext" value="[mapext]">
                <input type="hidden" name="map" value="[map]">
                <input type="hidden" name="root" value="[root]">
                <input type="hidden" name="program" value="[program]">
                <input type="hidden" name="map_web" value="[map_web]">
                <!-- The following line is original and deprecated. Works well after removal -->
                <!--<input type="hidden" name="map_web_template" value="[map_web_template]">-->
                <!--  Note the following line: If not, the second graph clicked on the query result will not open -->
                <input type="hidden" name="savequery" value="true">


                <div class="form-group">

                    <label class="col-sm-2 control-label">Select layer:</label>

                    <div class="col-sm-10">
                        <div class="col-sm-4">
                            <!-- SPECIFY VECTOR LAYERS -->
                            <input type="checkbox" name="layer" value="states"
                                   [states_check]>State Boundaries
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="counties"
                                   [counties_check]>County Boundaries
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="cities"
                                   [cities_check]>Cities
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="fedlands"
                                   [fedlands_check]>Federal/Indian Lands
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="hydro"
                                   [hydro_check]>Water Features
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="roads"
                                   [roads_check]>Roads<br>
                        </div>
                    </div>
                </div>
                <!-- SPECIFY RASTER LAYERS -->
                <div class="form-group">

                    <label class="col-sm-2 control-label">Select background:</label>

                    <div class="col-sm-8">
                        <select name="layer" class="form-control">
                            <option value=" " [ _select]>No Background</option>
                            <option value="landsat" [landsat_select]>
                                Landsat 7 ETM+
                            </option>
                            <option value="modis" [modis_select]>
                                MODIS Surface Reflectance
                            </option>
                            <option value="relief" [relief_select]>
                                Shaded Relief
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <!-- SPECIFY MAP MODE -->

                    <label class="col-sm-2 control-label">Map mode:</label>

                    <div class="col-sm-8">
                        <select name="mode" class="form-control">
                            <option value="browse" [browse_select]>
                                Browse
                            </option>
                            <option value="query" [query_select]>
                                Query Single Layer
                            </option>
                            <option value="nquery" [nquery_select]>
                                Query Multiple Layers
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <!-- ZOOM/PAN CONTROLS -->
                    <label class="col-sm-2 control-label">Map control: </label>

                    <div class="col-sm-8">
                        <select name="zoom" class="form-control">
                            <option value="4" [zoom_4_select]>Zoom 4 times</option>
                            <option value="3" [zoom_3_select]>Zoom 3 times</option>
                            <option value="2" [zoom_2_select]>Zoom 2 times</option>
                            <option value="0" [zoom_0_select]>Recenter</option>
                            <option value="-2" [zoom_-2_select]>Zoom -2 times</option>
                            <option value="-3" [zoom_-3_select]>Zoom -3 times</option>
                            <option value="-4" [zoom_-4_select]>Zoom -4 times</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">


                    <label class="col-sm-2 control-label"> </label>


                    <!-- FORM SUBMIT BUTTON -->
                    <div class="col-sm-8">
                        <input type="submit" name="submit" value="Refresh" class="btn btn-sm btn-primary">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"> </label>

                    <div class="col-sm-8">
                        <input type="image" name="img"  src="../[img]" width="[mapwidth]"
                               height="[mapheight]" border="1" alt="This is the map">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"> Reference:</label>

                    <div class="col-sm-8">

                        <img name="ref" class="img-thumbnail" src="../[ref]">


                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Legend:</label>

                    <div class="col-sm-8">

                        <img src="../[legend]" class="img-thumbnail">


                    </div>
                </div>


            </fieldset>

        </form>


        <hr>
        <p>
            Check the <code>Cities</code>layer and click the 'Refresh' button. The map will refresh and the city layer should now be displayed.
Change the map mode to "Query Single Layer" or "Query Multiple Layers" and click on one of the cities.
        </p>

        <p>bk: Note the query above. The HTML template file used in the query is the file specified in the mapfile. </p>

        <p><!--You've just performed a non-spatial query.  The result might not make
        any sense but there is a result.  We will format the query results in
        the next two exercises but for now we'll look at the changes we added to
        the mapfile and the HTML template.-->
     You have just executed a non-spatial query. The result may not mean anything, but there will be a result. We'll format the query results in the next two exercises, 
     but for now we'll look at the variations in adding MapFiles and HTML templates.  </p>

    </div>
    <br>
{% endblock %}