{% extends "content.jinja2" %}

<title>空间检索：在MapServer中使用地图的头部与底部模板</title>

{% block mainbody %}

    <div class="container">

        {#    Map-wide Header and Footer Templates#}
        <h2 align="center">示例: 在MapServer中使用地图的头部与底部模板</h2>

        <!-- START OF MAPSERVER FORM -->
        <form name="mapserv" method="GET" action="[program]" class="form-horizontal">
            <fieldset>
                <legend>在MapServer中使用地图的头部与底部模板</legend>
                <br>

                <input type="hidden" name="imgxy" value="[center]">
                <input type="hidden" name="imgext" value="[mapext]">
                <input type="hidden" name="map" value="[map]">
                <input type="hidden" name="root" value="[root]">
                <input type="hidden" name="program" value="[program]">
                <input type="hidden" name="map_web" value="[map_web]">
                <input type="hidden" name="savequery" value="true">


                <div class="form-group">

                    <label class="col-sm-2 control-label">选择图层:</label>

                    <div class="col-sm-8">
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="states" [states_check]>
                            State Boundaries&nbsp;
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="counties" [counties_check]>
                            County Boundaries
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="cities" [cities_check]>
                            Cities
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="fedlands" [fedlands_check]>
                            Federal/Indian Lands
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="hydro" [hydro_check]>
                            Water Features
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="roads" [roads_check]>
                            Roads
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label">选择背景:</label>

                    <div class="col-sm-8">
                        <select name="layer" class="form-control">
                            <option value=" " [ _select]>No Background</option>
                            <option value="landsat" [landsat_select]>Landsat 7 ETM+</option>
                            <option value="modis" [modis_select]>MODIS Surface Reflectance</option>
                            <option value="relief" [relief_select]>Shaded Relief</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">


                    <label class="col-sm-2 control-label">地图模式:</label>

                    <div class="col-sm-8">
                        <select name="mode" class="form-control">
                            <option value="browse" [browse_select]>浏览</option>
                            <option value="query" [query_select]>检索单图层</option>
                            <option value="nquery" [nquery_select]>检索多图层</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">


                    <label class="col-sm-2 control-label">地图控制:</label>

                    <div class="col-sm-8">


                        <select name="zoom" class="form-control">
                            <option value="4" [zoom_4_select]>放大4倍</option>
                            <option value="3" [zoom_3_select]>放大3倍</option>
                            <option value="2" [zoom_2_select]>放大2倍</option>
                            <option value="0" [zoom_0_select]>置中</option>
                            <option value="-2" [zoom_-2_select]>缩小2倍</option>
                            <option value="-3" [zoom_-3_select]>缩小3倍</option>
                            <option value="-4" [zoom_-4_select]>缩小4倍</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-8">

                        <input type="submit" name="submit" value="刷新" class="btn btn-sm btn-primary">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-8">

                        <input type="image" name="img" src="../[img]" width="[mapwidth]"
                               height="[mapheight]" border="1" alt="This is the map" >

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">参考:</label>

                    <div class="col-sm-8">

                        <img name="ref" src="../[ref]" class="img-thumbnail">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">图例:</label>

                    <div class="col-sm-8">

                        <img src="../[legend]" class="img-thumbnail"></div>

                </div>
            </fieldset>


        </form>


    </div>
{% endblock %}