{% extends "contentj.jinja2" %}
<title>TileJSON</title>

{% block headbody %}

    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">
    <!--Import the js file of the latest ol version.-->
    <script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>
    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block cntbody %}

    <div id="olmap" class="olmap"></div>

    <br>
   <div>Example for TileJSON layer.</div>
   <script>
      var olmap = new ol.Map({   //Initially change the Map object to display the map.
          //Load the map in the map container
        layers: [
          new ol.layer.Tile({
            source: new ol.source.TileJSON({        // TileJSON format layer source for block data.
              url: 'https://api.tiles.mapbox.com/v3/mapbox.geography-class.json?secure', // Layer source address
              crossOrigin: 'anonymous'  // The crossOrigin property of the image has been loaded. Note that crossOrigin values must be provided if you use the WebGL renderer or if you want to access pixel data using the Canvas renderer.
            })
          })
        ],
        target: 'olmap',	// The id value of the div layer of the map container
        view: new ol.View({  //Displays a simple 2D view of the map.
          center: [0, 0],  //Initial center of the map
          zoom: 2  //The initial map display level is 2
        })
      });
    </script>

{% endblock %}


