{% extends "contentj.jinja2" %}
  <title>Map drag and zoom</title>

{%  block cntbody %}

   <div id="olmap" class="olmap" tabindex="0"></div>
    <br>
    <script>
	//Load map
      var olmap = new ol.Map({
        interactions: ol.interaction.defaults.defaults().extend([   //The interaction that was originally added to the map. If not specified,the ol.interaction.defaults.defaults() function is used.
          new ol.interaction.DragRotateAndZoom()	//Allows the user to rotate and scale the map by clicking and dragging on the map, usually in combination with ol.events, which limits the map to when the alt and shift keys are pressed.
        ]),
	//Load layer
        layers: [
                new ol.layer.Tile({  //Load the tile layer
                    source: new ol.source.Stamen({        //Layer source for Stamen Tile server.
                        layer: 'terrain'
                    })
                }),
        ],
        target: 'olmap',			//id of the map container div
        view: new ol.View({		//The map is in 2D view
          center: [0, 0],		//The initial center of the map
          zoom: 2			//The initial level of the map is 2
        })
      });
    </script>

{% endblock %}
<!--Map drag and zoom.-->