{% extends "contentj.jinja2" %}
<title>Constrained scaling</title>

{% block headbody %}

    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">
    <!--导入最新版本ol的js文件。-->
    <script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>
    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block cntbody %}

        <div id="olmap" class="olmap"></div>
    <br>
    <div>The view of this map is limited to zoom levels 9 and 13. This can be done using the minZoom and maxZoom view options.</div>
       <script>
        //初始换Map对象，显示地图。
      var olmap = new ol.Map({
        target: 'olmap',  // 地图容器div层的id值
        layers: [
          new ol.layer.Tile({  // 加载瓦片图层数据
            source: new ol.source.OSM() // 图层对应的数据源，此处加载OpenStreetMap在线瓦片服务数据
          })
        ],
        view: new ol.View({  //表示显示简单的2D视图地图
          center: [-13553864, 5918250],   //地图初始中心点
          zoom: 11,    //地图初始显示级别为2
          minZoom: 9,       //用于确定分辨率约束的最小缩放级别。 它与maxZoom（或minResolution）和zoomFactor一起使用。 默认值为0.请注意，如果还提供了maxResolution，则优先于minZoom。
          maxZoom: 13       //用于确定分辨率约束的最大缩放级别。 它与minZoom（或maxResolution）和zoomFactor一起使用。 默认值为28.请注意，如果还提供了minResolution，则它优先于maxZoom。
        })
      });
    </script>

{% endblock %}


