<!-- MapServer Template -->
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Demos for WebGIS">
    <meta name="keywords" content="WebGIS,Open-Source WebGIS,WebGIS Tutorial,MapServer,OpenLayers,Leaflet">
    <meta name="author" content="BuKun">
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <title>WebGIS Demos</title>

    <script src="https://www.osgeo.cn/static/f2elib/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://www.osgeo.cn/static/f2elib/bootstrap_3.3.7/js/bootstrap.min.js"></script>

    {% block headbody %}{% endblock %}

</head>
<body data-target="#myScrollspy">

{% block mainbody %}

    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-9 content" id="con">
                    {% block cntbody %}
                    {% endblock %}
                </div>
                <div class="col-xs-3 visible-lg" id="myScrollspy">
                    <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                        {{ cntnav }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

</body>
</html>
