{% extends "base.jinja2" %}

{% block headbody %}

    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">
    <!--导入最新版本ol的js文件。-->
    <script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>
    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block mainbody %}


<div class="col-sm-12">

    <div class="row">
		<div class="col-xs-12">

			<div class="col-xs-9 content" id="con">
			    {% block cntbody %}
			    {% endblock %}
			</div>
			<div class="col-xs-3 visible-lg" id="myScrollspy">
			    <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
			        {{ cntnav }}
			    </ul>
			</div>
		</div>
    </div>
</div>
<div class="clear"></div>

{% endblock %}
