{% extends "contentj.jinja2" %}

<title>Add reference map</title>

{% block cntbody %}

    <h1>MapServer interaction: add reference map</h1>

    <h2 id="vzk">Refrence map concept</h2>

    <p>
       The reference map is a basic function of GIS.
        The reference map, as the name implies,
        can view the position of the map displayed in the map frame in the entire map on the reference map as if viewed from the sky.
         Refrence map is one of the essential functions of GIS software.
        It is mainly used to indicate the geographical extent of the data view in the whole map.
    </p>

    <p>The general function of the reference map：</p>

    <ol>
        <li>The reference map view is synchronized with the geographic extent of the data view.</li>
        <li>The current extent of the data view can be marked with a rectangular box in the reference map view.
            If the display range of the data view changes, the position of the rectangle in the reference map view will also change.</li>
        <li>
            Operating the view in the reference map, the geographic extent in the data view will also be adjusted synchronously.
            When the mouse eye clicks with the mouse, the data view can be moved to the clicked position.
            Drag the rectangle to adjust the extent of the map in the data view;
            when you drag the rectangle over the reference map view,
            the data view can display the contents of the rectangle in full view.
        </li>
    </ol>

    <h2 id="val">How add reference map</h2>

    <p>Here is the corresponding file： </p>

    ->-> mfk2.map

    <p>You can see the <a target="_blank" href="/example2-4_template.html">HTML Template code here</a>.</p>



->-> xx_diff_mfk2_mfv9.htmp

    <h2 id="z8v">Refrence map in MapServer</h2>

    <div>
        <a href="/cgi-bin/mapserv?map=/owg/mfk2.map&layer=states_line&zoom=0&mode=browse&root=/mstuto&program=/cgi-bin/mapserv&map_web=template+example-k2.html"
           target="_blank" class="btn btn-primary">
            Open MapServer Refrence map
        </a>
    </div>

    <hr/>

    <p>The following shows a form submission, and various parameters are passed through <code>input</code>. The effect is the same as above：</p>

    <form method="get" action="/cgi-bin/mapserv" role="form">
        <!-- The following two variables are user defined variables.
             MapServer will pass its value to the HTML template if the
             proper tags are found, in square brackets "[]"  -->
        <input type="hidden" name="root" value="/owg">
        <input type="hidden" name="program" value="/cgi-bin/mapserv">
        <!-- The map and layer variables are internal MapServer variables.
             They are required by the mapping application. -->
        <input type="hidden" name="map" value="/owg/mfk2.map">
        <input type="hidden" name="layer" value="states_line">
        <input type="hidden" name="zoom" value="0">

        <div class="col-sm-12">

            <div class="col-sm-3">

                <!-- The map_web_template variable will replace the TEMPLATE
                     parameter in the WEB object of the MAP file... -->
                <select name="map_web" class="form-control">

                    <option value="template example-k2.html"> 4: Quckview Map</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="submit" name="submit" value="Open the tutorial" class="btn btn-primary">
            </div>
        </div>
    </form>
    <br>
{% endblock %}