{% extends "content.jinja2" %}

<title>MapServer 7.x Tutorial</title>

{% block mainbody %}

    <div class="container">


        <h4 align="center">Example 4.4: MapServer Modes, Revisited</h4>


        <!-- START OF MAPSERVER FORM -->
        <form name="mapserv" method="GET" action="[program]" class="form-horizontal">

            <!-- HIDDEN MAPSERVER CGI VARIABLES -->
            <input type="hidden" name="map" value="[map]">
            <input type="hidden" name="imgext" value="[mapext]">
            <input type="hidden" name="imgxy" value="[center]">
            <input type="hidden" name="root" value="[root]">
            <input type="hidden" name="graphicsroot" value="[graphicsroot]">
            <input type="hidden" name="program" value="[program]">
            <input type="hidden" name="map_web" value="[map_web]">


            <div class="form-group">
                <label class="col-sm-2 control-label">Select Layers:</label>
                <!-- SPECIFY VECTOR LAYERS -->
                <div class="col-sm-10">
                    <div class="col-sm-4">

                        <input type="checkbox" name="layer" value="states" [states_check]>
                        State Boundaries
                    </div>
                    <div class="col-sm-4">
                        <input type="checkbox" name="layer" value="hydro" [hydro_check]>
                        Water Features
                    </div>
                    <div class="col-sm-4">
                        <input type="checkbox" name="layer" value="roads" [roads_check]>
                        Roads
                    </div>
                </div>
            </div>

            <!-- SPECIFY RASTER LAYERS -->
            <div class="form-group">
                <label class="col-sm-2 control-label">Select Background:</label>
                <div class="col-sm-10">
                    <select name="layer">
                        <option value=" " [ _select]>No Background</option>
                        <option value="modis_jpl" [modis_jpl_select]>
                            Daily MODIS Image
                        </option>
                        <option value="modis" [modis_select]>
                            MODIS Surface Reflectance
                        </option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-8">
                    <div class="col-sm-5">

                        <!-- SPECIFY MAP MODE -->
                        <label class="col-sm-6 control-label">Map Mode:</label>
                        <div class="col-sm-6">

                            <select name="mode" class="form-control">
                                <option value="browse" [browse_select]>Browse</option>
                            </select>
                        </div>
                    </div>

                    <!-- FORM SUBMIT BUTTON -->
                    <div class="col-sm-2" align="center">
                        <input type="submit" name="submit" value="Refresh" class="btn btn-sm btn-primary">
                    </div>

                    <div class="col-sm-5">
                        <!-- ZOOM/PAN CONTROLS -->
                        <label class="col-sm-6 control-label">Map Control:</label>
                        <div class="col-sm-6">
                            <select name="zoom" class="form-control">
                                <option value="4" [zoom_4_select]>Zoom In 4x</option>
                                <option value="3" [zoom_3_select]>Zoom In 3x</option>
                                <option value="2" [zoom_2_select]>Zoom In 2x</option>
                                <option value="0" [zoom_0_select]>Recenter</option>
                                <option value="-2" [zoom_-2_select]>Zoom Out 2x</option>
                                <option value="-3" [zoom_-3_select]>Zoom Out 3x</option>
                                <option value="-4" [zoom_-4_select]>Zoom Out 4x</option>
                            </select>
                        </div>
                    </div>
                    <!-- DISPLAY THE MAPSERVER-CREATED MAP IMAGE -->
                    <div class="col-sm-12" align="center">
                        <!-- Alternative to the main map image  -->
                        <input type="image" name="img" class="img-thumbnail"
                               src="../[program]?map=[map]&mapext=[minx]+[miny]+[maxx]+[maxy]&layers=[layers]&mode=map"
                               width="400" height="300">
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- REFERENCE AND LEGEND COLUMN -->

                    <div class="col-sm-12"><br><b>Reference:</b><br><br>
                        <!-- alternative to the "ref" image -->
                        <input type="image" name="ref" class="img-thumbnail"
                               src="/cgi-bin/mapserv?map=[map]&mapext=[minx]+[miny]+[maxx]+[maxy]&mode=reference"
                               width="155" height="105">
                    </div>
                    <div class="col-sm-12"><br><b>Scalebar:</b><br><br>
                        <!-- Alternative to the "scalebar" image -->
                        <img class="img-thumbnail"
                             src="../[program]?map=[map]&mapext=[minx]+[miny]+[maxx]+[maxy]&mode=scalebar">
                    </div>
                    <div class="col-sm-12"><br><b>Legend:</b><br><br>
                        <!-- Alternative to the "legend" image -->
                        <!-- <img src="[legend]"> -->
                        <img class="img-thumbnail"
                             src="../[program]?map=[map]&layers=[layers]&mapext=[minx]+[miny]+[maxx]+[maxy]&mode=legend">
                    </div>

                </div>
            </div>


        </form>
        <hr>
        <p>Here's the mapfile:<br>
            <iframe width="100%" src="/example4.map"></iframe>
        </p>
        <p class="Small" align="center">
            <br>
            <a href="/example4.map">View the MapFile</a>
            | <a href="/example4-4_modes_template.html">View the HTML Template</a>
        </p>

        <hr>


    </div>
{% endblock %}