{% extends "contentj.jinja2" %}


{% block headbody %}
    <link rel="stylesheet" href="/f2elib/leaflet-1.8.0/leaflet.css" crossorigin=""/>
    <script src="/f2elib/leaflet-1.8.0/leaflet.js" crossorigin=""></script>

    <title>Leaflet render WFS with custom styles</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        #mapdiv {
            width: 100%;
            height: 500px;
        }
    </style>

{% endblock %}

{% block cntbody %}
    <h1 id="markers-with-custom-icons"> Leaflet render WFS with custom styles </h1>

    <h2 id="vjm">Example</h2>

    <p>WMS completes the task of map rendering by server. If you want to customize the map style, you can use SLD to transfer the definition file of style to the server.
The server returns the result of the map. The data returned by WFS can be adjusted and rendered by client.

    </p>

    <p>In this case, there is no need to make any changes to the server, the server can only provide data.</p>

    <p>On the client side, you can define the implementation style of anonymous functions.</p>

    <pre><code>style:function(feature){
    return {
        stroke:true,
        color:'#333333',
        opacity: 1,
        fillOpacity: 0.1,
        fillColor: '#333333',
        weight:1
    }
},
</code></pre>

<h2 id="k8c">结果</h2>

    <div id='mapdiv'></div>

    <script type="text/javascript">

        var map = L.map('mapdiv', {
            center: [0, 0],
            zoom: 2
        });

        function loadWFS(layerName, epsg) {
            var param = {
                service: 'WFS',
                version: '2.0.0',
                request: 'GetFeature',
                typeName: layerName,
                outputFormat: 'geojson',
                // FeatureId: 'world-country.227',
                filter: '<Filter><PropertyIsEqualTo><PropertyName>NAME</PropertyName><Literal>SWITZERLAND</Literal></PropertyIsEqualTo></Filter>'
                // srsName: epsg
            };
            var rooturl = 'http://webgis.pub/cgi-bin/mapserv?map=/owg/mfw2.map';
            var u = rooturl + L.Util.getParamString(param, rooturl);
            // alert(u);
            $.ajax({
                url: u,
                dataType: 'json',
                success: loadWfsHandler,
            });
            var layer;

            function loadWfsHandler(data) {
                console.log(data);
                layer = L.geoJson(data, {
 					style:function(feature){
 						return {
 							stroke:true,
 							color:'#333333',
 							opacity: 1,
 			                fillOpacity: 0.1,
 			                fillColor: '#333333',
 							weight:1
 						}
 					},
                    pointToLayer: function (featyre, latlng) {
                    }
                }).addTo(map);
            }
        }
        loadWFS('world-country', '4326')
        // loadWFS('wriver', '3857')




    </script>

{% endblock %}