{% extends "contentj.jinja2" %}
<title>ZoomToExtent Control</title>

{% block headbody %}

    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">

    <!--Import the js file of the latest ol version.-->
    <script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>


    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block cntbody %}

    <div id="olmap" class="olmap"></div>

    <script>
        //Load map
        var olmap = new ol.Map({
            controls: ol.control.defaults.defaults({			//Sets the control set in the control.
                attributionOptions: {				//Attribute option
                    collapsible: false				//Collapse properties.
                }
            }).extend([
                new ol.control.ZoomToExtent({		//Button control that, when pressed, changes the map view to a specific range. Use CSS selectors to adjust the style of this control
                     
                    extent: [				//The degree of amplification. If not defined, the valid range of the view projection is used.
                        813079.7791264898, 5929220.284081122,
                        848966.9639063801, 5936863.986909639
                    ]
                })
            ]),
            layers: [	//Load layer
                new ol.layer.Tile({  //Load the tile layer
                    source: new ol.source.Stamen({        //Layer source for Stamen Tile server.
                        layer: 'terrain'
                    })
                }),
            ],
            target: 'olmap',		//id of the map container div
            view: new ol.View({	//The map is in 2D view
                center: [0, 0],	//Initial center of the map
                zoom: 2		//Map initial level
            })
        });
    </script>

{% endblock %}
<!--This example shows how to use ol.control.ZoomToExtent control device-->