{% extends "contentj.jinja2" %}

<title>Simple Example of Cesium</title>


{% block headbody %}
    <script src="/f2elib/cesium_1.59/Cesium.js"></script>
    <style>
        @import url(/f2elib/cesium_1.59/Widgets/widgets.css);

        html, body, #cesiumContainer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>

    <style type="text/css">
        #top1 {
            text-align: center;
            width: 100%;
            height: 8%;
            float: left;
        }



        #bottom2 {

            width: 99%;
            height: 500px;
            float: left;
        }
    </style>

{% endblock %}

{% block cntbody %}



    <div id="top1">
        Global topographic raster data
    </div>
    <div>

        <div id="bottom2"></div>
    </div>
    <div style="clear: both"></div>
<br>
<br>
    <script>
        // http://47.94.22.90:6623/case/landsat2000ne.html
        function startup(Cesium) {
            widget = new Cesium.Viewer('bottom2');
            url = 'http://39.107.109.21:3389/service?';   //wms地址
            url = 'http://wcs.osgeo.cn:8088/service?';   //wms地址
            layers = widget.scene.globe.imageryLayers;
            layers.removeAll();
            var blackMarble = layers.addImageryProvider(new Cesium.WebMapServiceImageryProvider({  //加载一个新的图层
                url: url,
                //        layers: 'landsat2000',// Here just give layer name
                layers: 'maplet_i887',// Here just give layer name
                version: '1.1.0'
            }));
            // Start off looking at Australia.
            widget.camera.setView({
                destination: Cesium.Rectangle.fromDegrees(-100, 0, 310, 80)  //给地图显示页定位
            });
            //Sandcastle_End
            Sandcastle.finishedLoading();  //加载地图
        }

        if (typeof Cesium !== "undefined") {  //调用starup()
            startup(Cesium);
        } else if (typeof require === "function") {
            require(["Cesium"], startup);
        }


    </script>

{% endblock %}

