            width: 100%;
            height: 240px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid #0e6b38 ;
        }
    </style>
{% endblock %}

{% block mainbody %}
    <div class="container">

        <div id="mapid"></div>
        <script>
            var mymap = L.map('mapid').setView([30, 105], 3);

            var wmsLayer = L.tileLayer.wms('http://47.94.22.90:9011/service?', {
                layers: 'maplet_mulwold',
                format: 'image/png',
                transparent: true
            }).addTo(mymap);

		     {#
            L.marker([39.9788, 116.30226]).addTo(mymap).bindPopup("BeJing<br>").openPopup();


            L.circle([39.9908, 116.26625], 500, {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5
            }).addTo(mymap).bindPopup("颐和园欢迎你");

            L.polygon([
                [39.92096, 116.38591],
                [39.91079, 116.38676],
                [39.91118, 116.3962],
                [39.92014, 116.39482]
            ]).addTo(mymap).bindPopup("故宫");

#}
                        <ul>
                            <li><a href="http://www.wds-china.org">● World Data System, China Center</a></li>
                            <li><a href="http://eng.wdc.cn">● WDC RRE</a></li>
                            <li><a href="http://drr.ikcest.org">● IKCEST DRR</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="articleList articleList00">

                    <div class="content">

                         <h1></h1>

                        <div class="well">
                             <img src="/images/authors.jpg"
                             style="width:300px; float: right;border: 1px solid slategrey;"/>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
