{% extends "../../../theme/view_js.html" %}

{% block headinfo %}




<link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.0.1/build/ol.js"></script>

{% end %}
{% block content %}
 <div id="mapol" class="mapol"></div>
   <script>
      var attribution = new ol.control.Attribution({
        collapsible: false
      });
      var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        controls: ol.control.defaults({attribution: false}).extend([attribution]),
        target: 'mapol',
        view: new ol.View({
          center: [0, 0],
          zoom: 2
        })
      });

      function checkSize() {
        var small = map.getSize()[0] < 600;
        attribution.setCollapsible(small);
        attribution.setCollapsed(small);
      }

      window.addEventListener('resize', checkSize);
      checkSize();
    </script>

{% end %}