{% extends "../../../theme/view_js.html" %}

{% block headinfo %}

<link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.0.1/build/ol.js"></script>

{% end %}
{% block content %}
<div id="mapol" class="mapol"></div>
 <br>
 <script>
      var vectorSource = new ol.source.Vector({
        url: 'https://openlayers.org/en/v4.0.1/examples/data/geojson/countries.geojson',
        format: new ol.format.GeoJSON()
      });

      var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          new ol.layer.Vector({
            source: vectorSource
          })
        ],
        target: 'mapol',
        view: new ol.View({
          center: [0, 0],
          zoom: 2
        })
      });

      var extent = new ol.interaction.Extent({
        condition: ol.events.condition.platformModifierKeyOnly
      });
      map.addInteraction(extent);
      extent.setActive(false);

      //Enable interaction by holding shift
      this.addEventListener('keydown', function(event) {
        if (event.keyCode == 16) {
          extent.setActive(true);
        }
      });
      this.addEventListener('keyup', function(event) {
        if (event.keyCode == 16) {
          extent.setActive(false);
        }
      });
    </script>
{% end %}