{% extends "../../../theme/view_js.html" %}

{% block headinfo %}

<link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.0.1/build/ol.js"></script>

{% end %}
{% block content %}
<div id="map1" class="mapol"></div>
    <div id="map2" class="mapol"></div>
    <button id="teleport">Teleport</button>
    <script>
      var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        controls: ol.control.defaults({
          attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
            collapsible: false
          })
        }),
        view: new ol.View({
          center: [0, 0],
          zoom: 2
        })
      });

      map.setTarget('map1');

      var teleportButton = document.getElementById('teleport');

      teleportButton.addEventListener('click', function() {
        var target = map.getTarget() === 'map1' ? 'map2' : 'map1';
        map.setTarget(target);
      }, false);
    </script>

{% end %}
