{% extends "../../../theme/view_js.html" %}

{% block headinfo %}

<link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.0.1/build/ol.js"></script>

{% end %}
{% block content %}
<div id="mapol" class="mapol"></div>
<br>
  <script>
      var raster = new ol.layer.Tile({
        source: new ol.source.TileJSON({
          url: 'https://api.tiles.mapbox.com/v3/mapbox.world-dark.json?secure'
        })
      });

      var style = new ol.style.Style({
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 255, 0.6)'
        }),
        stroke: new ol.style.Stroke({
          color: '#319FD3',
          width: 1
        })
      });

      var vector = new ol.layer.Vector({
        source: new ol.source.Vector({
          url: 'https://openlayers.org/en/v4.0.1/examples/data/topojson/world-110m.json',
          format: new ol.format.TopoJSON(),
          overlaps: false
        }),
        style: function(feature) {
          // don't want to render the full world polygon, which repeats all countries
          return feature.getId() !== undefined ? style : null;
        }
      });

      var map = new ol.Map({
        layers: [raster, vector],
        target: 'mapol',
        view: new ol.View({
          center: [0, 0],
          zoom: 1
        })
      });
    </script>
{% end %}
