{% extends "../../../theme/view_js.html" %}

{% block headinfo %}

<link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.0.1/build/ol.js"></script>

{% end %}
{% block content %}
<div id="mapol" class="mapol"></div>
<br>
 <script>
      var raster = new ol.layer.Tile({
        source: new ol.source.OSM()
      });

      var vector = new ol.layer.Vector({
        source: new ol.source.Vector({
          url: 'https://openlayers.org/en/v4.0.1/examples/data/geojson/countries.geojson',
          format: new ol.format.GeoJSON()
        })
      });

      var select = new ol.interaction.Select();

      var translate = new ol.interaction.Translate({
        features: select.getFeatures()
      });

      var map = new ol.Map({
        interactions: ol.interaction.defaults().extend([select, translate]),
        layers: [raster, vector],
        target: 'mapol',
        view: new ol.View({
          center: [0, 0],
          zoom: 2
        })
      });
    </script>
{% end %}
