{% extends "content.jinja2" %}

  <title>交互地图及Browse模式</title>

{%  block mainbody %}

    <div class="container">


      <h3 align="center">
        教程1.9: 交互地图及Browse模式
      </h3>

      <div align="center">
        <img border="1"
             src="/cgi-bin/mapserv?map=/owg/example1-9.map&layer=states&layer=states_label&layer=topo&mode=map"/>
      </div>
      <p align="left">上面地图是在“map”模式化生成的。它是一幅静态地图（当你点击时，不会有任何的改变）

      </p>

      <!-- MAPSERVER 表单 -->
      <form name="mapserv" method="GET" action="/cgi-bin/mapserv">
        <!-- MAPSERVER CGI 变量 -->
        <input type="hidden" name="map" value="[map]">
        <input type="hidden" name="imgext" value="[mapext]">
        <input type="hidden" name="imgxy" value="[center]">
        <input type="hidden" name="zoom" value="0">
        <input type="hidden" name="layer" value="modis">
        <input type="hidden" name="layer" value="states">
        <input type="hidden" name="mode" value="browse">

        <div align="center">
          <table border="1" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <!-- THE INTERACTIVE, DYNAMICALLY CREATED MAP -->
                <input type="image" name="img" src="../[img]"
                       width="400" height="300">
              </td>
            </tr>
          </table>
        </div>
      </form>
      <!-- END OF MAPSERVER FORM -->

      <p>这幅动态地图是在“browse”模式下生成的。在地图上用鼠标点击，会发现地图动起来了。  </p>

      <p>Both of these maps use the same mapfile definitions. The difference
        is that the second map (the dynamically created one) relies on HTML
        form for interactivity. If you look at how this page is linked from
        the previous page, you'll see that it isn't the same as the previous
        examples. This page is what's called, in MapServer terms, an HTML
        template. You will learn more about HTML templates in section 2.
      </p>
      <hr>
      <p>have a look at the &quot;form&quot; block within this page (right
        click on your browser and select &quot;view source&quot; or something
        similar):
      </p>
        <pre>
        &lt;!-- START OF MAPSERVER FORM --&gt;
        &lt;form name=&quot;mapserv&quot; method=&quot;GET&quot; action=&quot;/cgi-bin/mapserv.exe&quot;&gt;
          &lt;!-- HIDDEN MAPSERVER CGI VARIABLES --&gt;
          &lt;input type=&quot;hidden&quot; name=&quot;map&quot; value=&quot;&#091;map&#093;&quot;&gt;
          &lt;input type=&quot;hidden&quot; name=&quot;imgext&quot; value=&quot;&#091;mapext&#093;&quot;&gt;
          &lt;input type=&quot;hidden&quot; name=&quot;imgxy&quot; value=&quot;199.5 149.5&quot;&gt;
          &lt;input type=&quot;hidden&quot; name=&quot;zoom&quot; value=&quot;1&quot;&gt;
          &lt;input type=&quot;hidden&quot; name=&quot;mode&quot; value=&quot;browse&quot;&gt;

          &lt;div align=&quot;center&quot;&gt;
	    &lt;table border=&quot;1&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot;&gt;
	      &lt;tr&gt;
                &lt;td&gt;
                  &lt;!-- THE INTERACTIVE, DYNAMICALLY CREATED MAP --
                  &lt;input type=&quot;image&quot; name=&quot;img&quot; src=&quot;&#091;img&#093;&quot;
                    width=&quot;400&quot; height=&quot;300&quot;&gt;
                &lt;/td&gt;
              &lt;/tr&gt;
            &lt;/table&gt;
          &lt;/div&gt;
        &lt;/form&gt;</pre>
      <p>This block executes the MapServer CGI program
        (&quot;/cgi-bin/mapserv.exe&quot;) each time a user clicks on the map.
        The map is actually another form &quot;input&quot;, represented here by
        the line:</p>
      <pre>&lt;input type=&quot;image&quot; name=&quot;img&quot; src=&quot;&#091;img&#093;&quot; width=&quot;400&quot; height=&quot;300&quot;&gt;</pre>
      <p>The items in square brackets (&#091;map&#093;, &#091;mapext&#093;, and
        &#091;img&#093;) are what's known as MapServer tags--these are MapServer
        CGI variables and they get replaced by the MapServer CGI program when it
        reloads. The tag &#091;map&#093; is a placeholder for the mapfile path
        so it's replaced with &quot;[map]&quot; when MapServer runs. The tag
        &#091;mapext&#093; is replaced with the current map extent,
        &quot;[mapext]&quot;, and the &#091;img&#093; tag is replaced with the
        path to the image the MapServer CGI program creates, &quot;[img]&quot;. Go ahead check the IMAGEPATH
        (/ms4w/tmp/) for the existence of this image.</p>

      <p>The hidden variable &quot;mode&quot; with the value &quot;browse&quot;
        tells the CGI program that it needs to create and dump an image in the
        &quot;tmp&quot; directory. This image is then referenced as &#091;img&#093; and
        this is what you see on your browser.</p>
      <hr>
      <p align="left">现在，看一下 mapfile ：<br>

因为路径的原因，没有显示。 <br>

        <iframe width="100%" src="/mstuto/sec1/example1-9.map"></iframe>

      </p>

      <hr>
      <p>There's really only one thing that's been added to the mapfile:</p>

      <p>TEMPLATE 'example1-9.html'<br>
        <br>This tells MapServer to use the page &quot;example1-9.html&quot; as a
        template file. MapServer will process this file and replace the tags it
        encounters before sending it to the web browser. This is how the next
        two sections in this tutorial works.</p>
      <hr>
      <p>This marks the end of Section 1. I hope you leave this section with enough
        knowledge on how things are set in a MapServer MapFile. I can't stress
        enough the importance of keeping the <a href="http://www.mapserver.org/mapfile/">MapServer
          MapFile Reference</a> open as you create your own mapfile and application.
        Without it, I wouldn't have gone very far with this tutorial. <!--For a hierarchical
        view of the mapfile objects and keywords, please have a look at the <a href="http://vega.unm.edu/mapserver_workshop/reference/mapfile-reference-table.html">reference
        page</a> from Earth Data Analysis Center (EDAC) at the University of New
        Mexico.--></p>
      <hr>
      <p class="Small" align="center">
        <a href="/mstuto/sec1/example1-8.php">返回 Example 1.8</a> |
        <a href="/mstuto/sec1/section1.php">返回 Section 1</a> |
        <a href="/mstuto/sections.php">返回目录</a> |
        <a href="/mstuto/sec2/section2.php">下一部分</a></p>

    </div>
{% endblock %}