{% extends "content.jinja2" %}

{#
Original English course:
http://demo.mapserver.org/cgi-bin/mapserv?map=/osgeo/mapserver/tutorial/htdocs/example2.map&layer=states&zoom=0&mode=browse&root=/tutorial&program=/cgi-bin/mapserv&map_web=template+example2-1.html

#}

<title>MapServer interaction: Zoom and browse control</title>

{% block mainbody %}

    <div class="container">

        <h2>Example 2.1: Scaling and browsing controls</h2>

        <!-- START OF MAPSERVER FORM -->
        <form name="mapserv" method="GET" action="[program]" class="form-horizontal" role="form">

            <fieldset>
                <legend>Map zoom and browse control</legend>

                <br>
                <!-- HIDDEN MAPSERVER CGI VARIABLES -->
                <input type="hidden" name="root" value="[root]"/>
                <input type="hidden" name="program" value="[program]"/>
                <input type="hidden" name="map_web" value="[map_web]"/>
                <input type="hidden" name="map" value="[map]"/>
                <input type="hidden" name="imgext" value="[mapext]"/>
                <input type="hidden" name="imgxy" value="[center]"/>
                <input type="hidden" name="layers" value="[layers]"/>
                <input type="hidden" name="zoom" value="[zoom]"/>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="mode">Map mode:</label>

                    <div class="col-sm-8">
                        <select name="mode" class="form-control">
                            <option value="browse">Browse</option>
                            <option value="map">Map</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="zoom">Map control:</label>

                    <div class="col-sm-8">
                        <select name="zoom" class="form-control">
                            <option value="4" [zoom_4_select]>Zoom to 4</option>
                            <option value="3" [zoom_3_select]>Zoom to 3</option>
                            <option value="2" [zoom_2_select]>Zoom to 2</option>
                            <option value="0" [zoom_0_select]>Recenter</option>
                            <option value="-2" [zoom_-2_select]>Zoom to -2</option>
                            <option value="-3" [zoom_-3_select]>Zoom to -3</option>
                            <option value="-4" [zoom_-4_select]>Zoom to -4</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-8">
                        <input type="submit" name="submit" value="Refresh" class="btn btn-primary">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-8">

                        <input type="image" name="img" src="../[img]"
                               width="600" height="300" border="1">
                    </div>
                </div>

            </fieldset>
        </form>
        <hr>

        <p>
            In the form above, some parameters are used:
        </p>

        <pre><code>
<input type="hidden" name="root" value="/owg"/>
<input type="hidden" name="program" value="/cgi-bin/mapserv"/>
<input type="hidden" name="map_web" value="template example1-a.html"/>
<input type="hidden" name="map" value="/owg/mfca.map"/>
<input type="hidden" name="imgext" value="-180.301003 -90.000000 180.301003 90.000000"/>
<input type="hidden" name="imgxy" value="300.0 150.0"/>
<input type="hidden" name="layers" value="modis"/>
<input type="hidden" name="zoom" value="0"/>
</code></pre>

    </div>
{% endblock %}