{% extends "contentj.jinja2" %}
<title>OpenStreetMap Map</title>

{% block headbody %}

    <link rel="stylesheet" href="/f2elib/ol-6.14.1/ol.css" type="text/css">
    <!--导入最新版本ol的js文件。-->
    <script src="/f2elib/ol-6.14.1/ol.js"></script>
    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block cntbody %}


        <h1>Technical overview</h1>
        <div>OpenLayers is a JavaScript package for developing WebGIS clients. Sources supported by OpenLayers include Google Maps, Yahoo, Map, Microsoft Virtual Earth, etc. Users can also use a simple image map as a background image to overlay other layers in OpenLayers. In this regard, OpenLayers provides a lot of s Choice.
        </div>
        <div>
        The code implements the function of loading a tile map (ie OpenStreetMap map) and can pan and zoom the map.
             When initializing a map, you need at least one view, one or more layers, and a target HTML tag for the map to load.
        </div>
        <br>
        <div id="olmap" class="olmap" tabindex="0"></div>
    <br>
    <div>The map element of this example sets its tabindex property to "0", which makes it focusable. To focus on the map element, you can navigate to it using the "Tab" key, or you can use a jump link. When focusing on the map element, the "+" and "-" keys can be used to zoom in and out, and the arrow keys can be used to pan the layer. </div>
        <script>
            //layers、target、view是地图最基本的部分，是必需的
            //初始换Map对象，显示地图。
            var olmap = new ol.Map({
                //在地图容器中加载地图
                layers: [
                    new ol.layer.Tile({				// 加载瓦片图层数据
                        source: new ol.source.OSM()		// 图层对应的数据源，此处加载OpenStreetMap在线瓦片服务数据
                    })
                ],
                target: 'olmap',						// 地图容器div层的id值
                controls: ol.control.defaults({		 // 设置地图控件，collapsible控件不显示。
                    attributionOptions: {
                        collapsible: false
                    }
                }),
                //表示显示简单的2D视图地图。
                view: new ol.View({
                    center: [0, 0],	//地图初始中心点
                    zoom: 2			//地图初始显示级别为2
                })
            });

        </script>

{% endblock %}


