{% extends "contentj.jinja2" %}
  <title>Map drag and zoom</title>

    {% block headbody %}

    <link rel="stylesheet" href="/f2elib/ol-6.14.1/ol.css" type="text/css">

    <!--导入最新版本ol的js文件。-->
	<script src="/f2elib/ol-6.14.1/ol.js"></script>
    <style>
       #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

    {% endblock %}

{%  block cntbody %}


   <div id="olmap" class="olmap" tabindex="0"></div>

    <br>
    <div>The left mouse button can be used to drag the map, and the scroll wheel can zoom the map. Shift + left mouse button to rotate the map.</div>
    <script>
	//加载地图
      var olmap = new ol.Map({
        interactions: ol.interaction.defaults().extend([   //最初添加到地图上的交互。如果未指定，则使用ol.interaction.defaults()
          new ol.interaction.DragRotateAndZoom()	//允许用户通过在地图上单击和拖动来旋转、缩放地图，通常结合ol.events该条件将地图限制为按下alt键和shift键时。
        ]),
	//加载图层
        layers: [
          new ol.layer.Tile({  //加载瓦片图层
            source: new ol.source.OSM()  //加载图层OpenStreetMap的数据源
          })
        ],
        target: 'olmap',			//地图容器div的id
        view: new ol.View({		//地图为2D视图
          center: [0, 0],		//地图的初始中心
          zoom: 2			//地图的初始级别为2
        })
      });
    </script>

{% endblock %}
<!--地图的拖动与缩放。-->