{% extends "contentj.jinja2" %}
  <title>Tiandi map</title>

    {% block headbody %}
    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">

    <!--Import the js file of the latest ol version.-->
	<script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>
  <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

    {% endblock %}

{%  block cntbody %}

   <div id="olmap" class="olmap"> </div>
    <br>
    <div>The Openlayers application with the tiandi map as the base map.</div>
    <script>
     //layers, targets, and views are the most basic parts of the map and are required
            //Initially change the Map object to display the map.
    var olmap = new ol.Map({
        controls: ol.control.defaults.defaults().extend([
            new ol.control.FullScreen() // Set up map controls and add full-screen button controls.
        ]),
         //Load the map in the map container
        layers: [
            new ol.layer.Tile({ // Load the tile layer data
                source: new ol.source.XYZ({    //Layer source with slice data of the URL defined in the URL template that sets the format XYZ.
                    url: "http://t2.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}"  //图层源网址
                })

            })
            ,
            new ol.layer.Tile({
                source: new ol.source.XYZ({   // Data source corresponding to the layer, here load the map annotation data
                    url: "http://t3.tianditu.com/DataServer?T=cva_w&x={x}&y={y}&l={z}"
                })
            })
        ],
        target: 'olmap', // The id value of the div layer of the map container
        //Displays a simple 2D view of the map.
        view: new ol.View({
            center: [0,0], //Initial center of the map
            zoom: 3  //The initial map display level is 3
        })
    });
</script>

{% endblock %}
<!--This example creates a custom element for a property icon.-->