{% extends "contentj.jinja2" %}
<title>XYZ Esri</title>

{% block headbody %}

    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-6.14.1/ol.css" type="text/css">
    <!--导入最新版本ol的js文件。-->
    <script src="https://www.osgeo.cn/static/f2elib/ol-6.14.1/ol.js"></script>
    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block cntbody %}
        <div id="olmap" class="olmap"></div>
    <br>
    <div>ol.source.XYZ supports ArcGIS REST tiles services.</div>
   <script>
      var olmap = new ol.Map({
        target: 'olmap', // 地图容器div层的id值
        layers: [
          new ol.layer.Tile({  // 加载瓦片图层数据
            source: new ol.source.XYZ({     //具有在URL模板中定义的设置XYZ格式的URL的切片数据的图层源。
              attributions: 'Tiles © <a href="https://services.arcgisonline.com/ArcGIS/' +
                  'rest/services/World_Topo_Map/MapServer">ArcGIS</a>',
              url: 'https://server.arcgisonline.com/ArcGIS/rest/services/' +
                  'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'   //网址模板。 必须包含{x}，{y}或{-y}和{z}占位符。 可以使用{？ - ？}模板模式，例如子域{a-f} .domain.com，而不是在urls选项中单独定义每个模板模式。
            })
          })
        ],
           //表示显示简单的2D视图地图。
        view: new ol.View({
          center: ol.proj.fromLonLat([-121.1, 47.5]), //将坐标从经度/纬度转换为不同的投影。
          zoom: 7  //地图初始显示级别为7
        })
      });
    </script>

{% endblock %}


