{% extends "contentj.jinja2" %}
<title>Map overlay grid</title>

{% block headbody %}
    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">

    <!--Import the js file of the latest ol version.-->
    <script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>
    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block cntbody %}


    <div id="olmap" class="olmap"></div>
    <br>
    <div>This example shows how to add a grid overlay to a map. The grid adds latitude and longitude.</div>
    <script>
        //Load map
        var olmap = new ol.Map({
            //Load layer
            layers: [
                {#
              new ol.layer.Tile({		//Load the tile layer
                source: new ol.source.OSM({		//Load the OpenStreetMap layer source
                  wrapX: false			//Whether to wrap the world horizontally.
                })
              }),
                 #}
                new ol.layer.Tile({  //Load the tile layer
                    source: new ol.source.Stamen({        //Layer source for Stamen Tile server.
                        layer: 'terrain',
                        wrapX: false
                    })
                }),
            ],
            target: 'olmap',		//id of the map container div
            view: new ol.View({		//The map is in 2D view
                center: ol.proj.fromLonLat([4.8, 47.75]),	//Initial center of the map
                extent: ol.proj.get('EPSG:3857').getExtent(),	//Constrains the scope of the center; in other words, the center cannot be set outside this scope.
//The default is undefined.
                zoom: 5	//Map initial level
            })
        });

        // Create a partition component
        var graticule = new ol.Graticule({
            // Style for lines, optional.
            strokeStyle: new ol.style.Stroke({
                color: 'rgba(255,120,0,0.9)',
                width: 2,		//width
                lineDash: [0.5, 4]	//Line scribing mode.
            }),
            showLabels: true	//Draw the corresponding latitude/longitude label for each dividing line.
        });

        graticule.setMap(olmap);		//Add to the map.
    </script>

{% endblock %}
<!--This example shows how to add a grid overlay to a map.-->