{% extends "contentj.jinja2" %}
  <title>ArcGIS REST MapService</title>

    {% block headbody %}
    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">

    <!--导入最新版本ol的js文件。-->
	<script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>

  <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

    {% endblock %}

{%  block cntbody %}


    <div id="olmap" class="olmap" tabindex="0"></div>
    <br>
    <div>This example shows how to use ArcGIS REST MapService as a slice. This source type supports maps and image services. For cached ArcGIS services, use ol.source.XYZ for better performance.</div>
     <script>
	 // 定义url对象
      var url = 'https://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Specialty/ESRI_StateCityHighway_USA/MapServer';
		
      var layers = [           //定义layers对象
        new ol.layer.Tile({			// 加载瓦片图层数据
          source: new ol.source.OSM()			// 图层对应的数据源，此处加载OpenStreetMap在线瓦片服务数据
        }),
        new ol.layer.Image({			// 加载图片
          source: new ol.source.ImageArcGISRest({  //图片对应的数据源
            ratio: 1,					//比率。1意味着图像请求是地图视口的大小，2意味着地图视口大小的两倍，等等。
            params: {},					//默认值将用于未指定的任何字段.
            url: url					// 用于地图服务或图像服务。URL应该包含/MapServer或ImageServer。
          })	
        })
      ];
	  //初始换Map对象，显示地图。
      var olmap = new ol.Map({
	  //在地图容器中加载地图
        layers: layers,			// 加载瓦片图层数据为定义的数据layers
        target: 'olmap',			// 地图容器div层的id值
		//表示显示简单的2D视图地图。
        view: new ol.View({
          center: [-10997148, 4569099],		//地图初始中心点
          zoom: 4							//地图初始显示级别为4
        })
      });	
    </script>

{% endblock %}
<!--这个例子展示了如何使用动态ArcGIS REST MapService。此源类型支持地图和图像服务。对于动态的ArcGIS服务。（图像ArcGIS层的例子。） -->
