<!DOCTYPE html><!--html5文档格式-->
<html lang="zh-CN"><!--申明语言是中文简体-->
<head>
    <meta charset="utf-8">
    <!--当是IE的是试用最新的渲染引擎来渲染页面-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--让页面适配移动端  需要加上 user-scalable=0 让用户不予许缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <!--页面的加载顺序和解析顺序 -->

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>template</title>
        <!--引入网站图标-->
     <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>


    <!-- Bootstrap 核心css文件-->
    <link rel="stylesheet" href="/f2elib/bootstrap-3.4.1/css/bootstrap.min.css"/>
    <script src="/f2elib/bootstrap-3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/tass/css/style.css"/>
    <!--IE8一下就不支持html5标签和媒体查询-->
    <!--
        html5标签要支持的话？  引入 html5shiv
        media query 要支持的话？  引入 respond
    -->
    <!--注意：要已http形式打开你的页面  否者respond不生效-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn‘t work if you view the page via file:// -->
    <!--条件注释-->
    <!--[if lt IE 9]>

    <![endif]-->
    <!--TODO 自己项目的文件-->
</head>
<body>
<!--TODO 自己项目页面内容-->
    <!--头部-->
    <header class="_header">
     <header>
     <!--导航栏-->
    <nav class="wjs_nav"></nav>
    <!--轮播图-->
    <div class="wjs_banner"></div>
    <!--信息-->
    <div class="wjs_info"></div>
    <!--预约-->
    <div class="wjs_book"></div>
    <!--产品-->
    <div class="wjs_product"></div>
    <!--新闻-->
    <div class="wjs_news"></div>
    <!--合作伙伴-->
    <footer class="wjs_partner"></footer>


</body>
</html>
