{% extends "contentj.jinja2" %}
<title>XYZ Esri</title>

{% block headbody %}

    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">
    <!--Import the js file of the latest ol version.-->
    <script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>
    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block cntbody %}
        <div id="olmap" class="olmap"></div>
    <br>

   <script>
      var olmap = new ol.Map({
        target: 'olmap', // The id value of the div layer of the map container
        layers: [
          new ol.layer.Tile({  // Load the tile layer data
            source: new ol.source.XYZ({     //Layer source with slice data of the URL defined in the URL template that sets the format XYZ.
              attributions: 'Tiles © <a href="https://services.arcgisonline.com/ArcGIS/' +
                  'rest/services/World_Topo_Map/MapServer">ArcGIS</a>',
              url: 'https://server.arcgisonline.com/ArcGIS/rest/services/' +
                  'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'   //Url template. Must contain {x}, {y} or {-y} and {z} placeholders. Can use {? -? } template patterns, such as the subdomain {a-f}.domain.com, rather than defining each template pattern individually in the urls options.
            })
          })
        ],
           //Displays a simple 2D view of the map.
        view: new ol.View({
          center: ol.proj.fromLonLat([-121.1, 47.5]), //Convert coordinates from longitude/latitude to different projections.
          zoom: 7  //The initial map display level is 7
        })
      });
    </script>

{% endblock %}


