{% extends "contentj.jinja2" %}

{#
From:
<Beginning MapServer>  https://www.amazon.com/Beginning-MapServer-Source-Development-Experts/dp/1590594908
#}

<title>Case 1: Using a MapServer Template</title>
{% block cntbody %}
    <h1>Use the MapServer template</h1>
    <h2 id="csh">Initialize the map</h2>
    <form method=POST action="/cgi-bin/mapserv">
        <input  class="btn btn-primary" type="submit" value="Click to initialize the map" >
        <input type="hidden" name="program" value="/cgi-bin/mapserv">
        <input type="hidden" name="map" value="/owg/mfe2.map">
        <input type="hidden" name=zoomsize size=2 value=2>
        <input type="hidden" name="layers"
               value="urbanareas lakes states roads capitals">
    </form>


{% endblock %}