{% extends "contentj.jinja2" %}

{#
From:
<Beginning MapServer>  https://www.amazon.com/Beginning-MapServer-Source-Development-Experts/dp/1590594908
#}

<title>Case 2: MapServer Map Design</title>

{% block cntbody %}

    <h1>Modify map style</h1>
    <h2 id="csh">Initialize the map</h2>
    <form method=POST action="/cgi-bin/mapserv" class="form-horizontal">
        <input type="submit" value="Click to initialize the map" class="btn btn-sm btn-primary">
        <input type="hidden" name="program" value="mapserv">
        <input type="hidden" name="map" value="/owg/mfe3.map">
        <input type="hidden" name="mapext" value="-180.00 0.00 -60.00 90.00">
        <input type="hidden" name=zoomsize size=2 value=2>
        <input type="hidden" name="layers" value="urbanareas lakes states roads capitals">
    </form>

{% endblock %}