{% extends "content.jinja2" %}


<title>Third Map</title>
{% block mainbody %}

    <div class="container">

            <div class="panel">

            <div class="panel-head">
                <h1>Example 1:MapServer Map design</h1>
            </div>

            <div class="panel-body">


        <form name="the_form" method=GET action="[program]" class="form-horizontal">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <input name="img" type="image" src="[img]"
                           class="img-thumbnail" style="border: 2px solid #ddd">
                </div>
                <div class="col-sm-6">
                    <div class="form-group">

                        <div class="col-sm-12">
                            <img SRC="[ref]" class="img-thumbnail" style="border: 1px solid #ddd">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <font size="-1">
                                Map scale:&nbsp &nbsp &nbsp 1:[scale]
                            </font>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <font size="-1">
                                Click x,y:&nbsp &nbsp &nbsp &nbsp [mapx], [mapy]
                            </font>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <font size="-1">
                                Map Extent:&nbsp [mapext]
                            </font>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <B>
                                    <center>Legend</center>
                                </B>
                            </div>
                            <div class="col-sm-12">
                                <img src="[legend]" class="img-thumbnail">
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <B>
                                    <center>Navigation</center>
                                </B>
                            </div>
                            <div class="col-sm-12">
                                <font size="-1">
                                    <input type=radio name=zoomdir value=0 [zoomdir_0_check]>
                                    Pan<BR>
                                    <input type=radio name=zoomdir value=1 [zoomdir_1_check]>
                                    Zoom In<BR>
                                    <input type=radio name=zoomdir value=-1 [zoomdir_-1_check]>
                                    Zoom Out<BR>
                                    <input type=text name=zoomsize size=1 value=[zoomsize]>
                                    Size<BR>
                                </font>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <B>
                                    <center>Layers</center>
                                </B>
                            </div>
                            <div class="col-sm-12">
                                <font size="-1">
                                    <input type="checkbox" name="layer" value="urbanareas"
                                           [urbanareas_check]>
                                    Urban Areas<BR>
                                    <input type="checkbox" name="layer" value="lakes" [lakes_check]>
                                    Lakes<BR>
                                    <input type="checkbox" name="layer" value="states" [states_check]>
                                    State Boundaries<BR>
                                    <input type="checkbox" name="layer" value="roads" [roads_check]>
                                    Roads<BR>
                                </font>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-12" align="center">
                            <input type="submit" value="Refresh" class="btn btn-sm btn-primary">
                        </div>

                    </div>

                </div>
            </div>

            <input type="hidden" name="imgxy" value="320 240">
            <input type="hidden" name="imgext" value="[mapext]">
            <input type="hidden" name="map" value="[map]">
            <input type="hidden" name="program" value="[program]">
        </form>

            </div>

            </div>

    </div>
{% endblock %}