{% extends "contentj.jinja2" %}

<title>Map legend</title>

{% block cntbody %}

    <h1>MapServer interaction: map legend</h1>

    <h2 id="vjm">How to add a map legend</h2>

    <hr>
    <p><!--Here's the mapfile-->Here is the corresponding file：</p>

    {#            <iframe width="100%" src="/example2.map"></iframe>#}


    ->-> mfx8.map

    <p>
        You can see <a target="_blank" href="/example2-5_template.html">here
         HTML Template
         Source code</a>.</p>


    ->-> xx_diff_mfx8_mfk2.htmp


    <h2 id="v1v">Add a map legend: example</h2>
    <!--And like any good maps, it should include a legend.-->
    {#    <div>#}
    {#        <a href="/cgi-bin/mapserv?map=/owg/mfc2.map&layer=states&zoom=0&mode=browse&root=/mstuto&program=/cgi-bin/mapserv&map_web=template+example2-5.html"#}
    {#           target="_blank">#}
    {#            Open the MapServer map Legend example</a>#}
    {#    </div>#}

    <div>
        <a href="/cgi-bin/mapserv?map=/owg/mfx8.map&layer=states_line&zoom=0&mode=browse&root=/mstuto&program=/cgi-bin/mapserv&map_web=template+example-x8.html"
           target="_blank">
            Open MapServer Map Legend Example New</a>
    </div>

    <hr/>

    <p>The following shows a form submission, and various parameters are passed through <code>input</code>. The effect is the same as above：</p>

    <form method="get" action="/cgi-bin/mapserv" role="form">
        <!-- The following two variables are user defined variables.
             MapServer will pass its value to the HTML template if the
             proper tags are found, in square brackets "[]"  -->
        <input type="hidden" name="root" value="/owg">
        <input type="hidden" name="program" value="/cgi-bin/mapserv">
        <!-- The map and layer variables are internal MapServer variables.
             They are required by the mapping application. -->
        <input type="hidden" name="map" value="/owg/mfx8.map">
        <input type="hidden" name="layer" value="states_line">
        <input type="hidden" name="zoom" value="0">

        <div class="col-sm-12">

            <div class="col-sm-3">
                <!-- The map_web_template variable will replace the TEMPLATE
                     parameter in the WEB object of the MAP file... -->
                <select name="map_web" class="form-control">

                    <option value="template example-x8.html"> 5: Legend</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="submit" name="submit" value="Open the example" class="btn btn-primary">
            </div>
        </div>
    </form>
    <br>
{% endblock %}