{% extends "contentj.jinja2" %}
  <title>ArcGIS REST MapService</title>

    {% block headbody %}
    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">

    <!--Import the js file of the latest ol version.-->
	<script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>

  <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

    {% endblock %}

{%  block cntbody %}


    <div id="olmap" class="olmap" tabindex="0"></div>
    <br>

     <script>
	 // Defining url objects
      var url = 'https://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Specialty/ESRI_StateCityHighway_USA/MapServer';
		
      var layers = [           //Defining layers objects
        new ol.layer.Tile({			// Load the tile layer data
          source: new ol.source.OSM()			// The layer corresponds to the data source where the OpenStreetMap online tile service data is loaded
        }),
        new ol.layer.Image({			// Load picture
          source: new ol.source.ImageArcGISRest({  //The data source corresponding to the picture
            ratio: 1,					//Ratio. 1 means the image request is the size of the map viewport, 2 means twice the size of the map viewport, and so on.
            params: {},					//The default value will be used for any fields not specified.
            url: url					// For map service or image service. The URL should contain /MapServer or ImageServer.
          })	
        })
      ];
	  //Initially change the Map object to display the map.
      var olmap = new ol.Map({
	  //Load the map in the map container
        layers: layers,			// Load the tile layer data as defined data layers
        target: 'olmap',			// The id value of the div layer of the map container
		//Displays a simple 2D view of the map.
        view: new ol.View({
          center: [-10997148, 4569099],		//Initial center of the map
          zoom: 4							//The initial map display level is 4
        })
      });	
    </script>

{% endblock %}
<!--This example shows how to use dynamic ArcGIS REST MapService. This source type supports map and image services. For dynamic ArcGIS services. (Image ArcGIS layer example.) -->
