{% extends "contentj.jinja2" %}

<title>Map query template block</title>

{% block cntbody %}


    <h1 align="center">Use the head and bottom template in the map</h1>

    <h2 id="zvk">how to use</h2>


    <p> To make this example run, add <code>HEADER</code> and <code>FOOTER</code> keywords to the web. </p>
    <pre>
WEB
HEADER    '../templates/header.html'
FOOTER    '../templates/footer.html'
... ...
END
</pre>



    <p>
        Select the layer for <code>Cities</code> and click the Refresh button. Select "Retrieve Single Layer" or "Retrieve Multiple Layers" from "Map Mode" and click on one of the cities on the map.
    </p>
    <p class="Small" align="center">
        <a target="_blank" href="/webgis/mfd1.map">View MapFile</a> |
        <a target="_blank" href="/webgis/example3-3_template.html">View HTML template</a>
    </p>




    <h2 id="v91">Open the example</h2>

->->  xx_diff_mfp3_mfp2.htmp

    <form method="get" action="/cgi-bin/mapserv" class="form-horizontal">

        <input type="hidden" name="root" value="/owg">
        <input type="hidden" name="program" value="/cgi-bin/mapserv">

        <!-- The map and layer variables are internal MapServer variables.
             They are required by the mapping application. -->
        <input type="hidden" name="map" value="/owg/mfp3.map">
        <input type="hidden" name="layer" value="states_line">
        <input type="hidden" name="zoom" value="0">

        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <select name="map_web" class="form-control">
                        <option value="template example-p1.html">
                            New example
                        </option>
                    </select> &nbsp;
                </div>
                <div class="col-sm-2">
                    <input type="submit" name="submit"
                           value="Open" class="btn btn-sm btn-primary">
                </div>
            </div>
        </div>
    </form>

{% endblock %}