{% extends "content.jinja2" %}

<title>空间检索：Class-level 查询模板</title>

{% block mainbody %}

    <div class="container">

        <h1 align="center" id="zv8">示例 3.1: Class-level 查询模板 </h1>

        <!-- START OF MAPSERVER FORM -->
        <form name="mapserv" method="GET" action="[program]" class="form-horizontal">
            <fieldset>
                <legend>Class-level 查询模板</legend>
                <br>
                <!-- HIDDEN MAPSERVER CGI VARIABLES -->
                <input type="hidden" name="imgxy" value="[center]">
                <input type="hidden" name="imgext" value="[mapext]">
                <input type="hidden" name="map" value="[map]">
                <input type="hidden" name="root" value="[root]">
                <input type="hidden" name="program" value="[program]">
                <input type="hidden" name="map_web" value="[map_web]">
                <!-- 下面这一行是原有的，是被弃用的。删除后运行良好 -->
                <!--<input type="hidden" name="map_web_template" value="[map_web_template]">-->
                <!--  要注意下面这一行：如果没有的话，点击查询结果的第二个图不会被打开 -->
                <input type="hidden" name="savequery" value="true">


                <div class="form-group">

                    <label class="col-sm-2 control-label">选择图层:</label>

                    <div class="col-sm-10">
                        <div class="col-sm-4">
                            <!-- SPECIFY VECTOR LAYERS -->
                            <input type="checkbox" name="layer" value="states"
                                   [states_check]>State Boundaries
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="counties"
                                   [counties_check]>County Boundaries
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="cities"
                                   [cities_check]>Cities
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="fedlands"
                                   [fedlands_check]>Federal/Indian Lands
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="hydro"
                                   [hydro_check]>Water Features
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" name="layer" value="roads"
                                   [roads_check]>Roads<br>
                        </div>
                    </div>
                </div>
                <!-- SPECIFY RASTER LAYERS -->
                <div class="form-group">

                    <label class="col-sm-2 control-label">选择背景:</label>

                    <div class="col-sm-8">
                        <select name="layer" class="form-control">
                            <option value=" " [ _select]>No Background</option>
                            <option value="landsat" [landsat_select]>
                                Landsat 7 ETM+
                            </option>
                            <option value="modis" [modis_select]>
                                MODIS Surface Reflectance
                            </option>
                            <option value="relief" [relief_select]>
                                Shaded Relief
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <!-- SPECIFY MAP MODE -->

                    <label class="col-sm-2 control-label">地图模式:</label>

                    <div class="col-sm-8">
                        <select name="mode" class="form-control">
                            <option value="browse" [browse_select]>
                                Browse
                            </option>
                            <option value="query" [query_select]>
                                Query Single Layer
                            </option>
                            <option value="nquery" [nquery_select]>
                                Query Multiple Layers
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <!-- ZOOM/PAN CONTROLS -->
                    <label class="col-sm-2 control-label">地图控制: </label>

                    <div class="col-sm-8">
                        <select name="zoom" class="form-control">
                            <option value="4" [zoom_4_select]>放大4倍</option>
                            <option value="3" [zoom_3_select]>放大3倍</option>
                            <option value="2" [zoom_2_select]>放大2倍</option>
                            <option value="0" [zoom_0_select]>置中</option>
                            <option value="-2" [zoom_-2_select]>缩小2倍</option>
                            <option value="-3" [zoom_-3_select]>缩小3倍</option>
                            <option value="-4" [zoom_-4_select]>缩小4倍</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">


                    <label class="col-sm-2 control-label"> </label>


                    <!-- FORM SUBMIT BUTTON -->
                    <div class="col-sm-8">
                        <input type="submit" name="submit" value="刷新" class="btn btn-sm btn-primary">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"> </label>

                    <div class="col-sm-8">
                        <input type="image" name="img"  src="../[img]" width="[mapwidth]"
                               height="[mapheight]" border="1" alt="This is the map">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"> 参考:</label>

                    <div class="col-sm-8">

                        <img name="ref" class="img-thumbnail" src="../[ref]">


                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> 图例:</label>

                    <div class="col-sm-8">

                        <img src="../[legend]" class="img-thumbnail">


                    </div>
                </div>


            </fieldset>

        </form>


        <hr>
        <p>
            勾选<code>Cities</code>的图层，然后单击“刷新”按钮。该地图将刷新,城市图层现在应该显示出来。
            改变地图模式到“查询单图层”或“查询多图层”，然后点击其中一个城市。
        </p>

        <p>bk: 注意上面的查询。查询使用的 HTML 模板文件为 mapfile 中指定的文件。 </p>

        <p><!--You've just performed a non-spatial query.  The result might not make
        any sense but there is a result.  We will format the query results in
        the next two exercises but for now we'll look at the changes we added to
        the mapfile and the HTML template.-->
            您刚刚执行了非空间查询。结果可能没有任何意义，但会有一个结果。我们在接下来的两个练习将格式化查询结果，但现在我们将看看添加 mapfile 和HTML模板的变化。
        </p>

    </div>
    <br>
{% endblock %}