{% extends "contentj.jinja2" %}
<title>WMS</title>

{% block headbody %}

    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-6.14.1/ol.css" type="text/css">
    <!--导入最新版本ol的js文件。-->
    <script src="https://www.osgeo.cn/static/f2elib/ol-6.14.1/ol.js"></script>
    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block cntbody %}




        <div id="olmap" class="olmap"></div>
    <br>
   <div role="group" aria-label="Animation controls">
      <button id="play" type="button">Play</button>
      <button id="pause" type="button">Pause</button>
      <span id="info"></span>
    </div>
    <br>
    <div>A smooth reload of the presentation layer as the time dimension is continuously changed. The data shows that the IEM generated a NUS NEXRAD WSR-88D grade III alkali reflectance CONUS complex.</div>
    <script>
      function threeHoursAgo() {
        return new Date(Math.round(Date.now() / 3600000) * 3600000 - 3600000 * 3);
      }

      var extent = ol.proj.transformExtent([-126, 24, -66, 50], 'EPSG:4326', 'EPSG:3857');      //将范围从源投影转换为目标投影。 这将返回一个新范围（并且不会修改原始范围）。
      var startDate = threeHoursAgo();
      var frameRate = 0.5; // 每秒帧数
      var animationId = null;

      var layers = [
        new ol.layer.Tile({  //加载瓦片图层
          source: new ol.source.Stamen({        //Stamen磁贴服务器的图层源。
            layer: 'terrain'
          })
        }),
        new ol.layer.Tile({
          extent: extent,  //图层渲染的边界范围。 图层不会在此范围之外呈现。
          source: new ol.source.TileWMS({       // 来自WMS服务器的磁贴数据的层源。
            attributions: ['Iowa State University'],        //属性
            url: 'https://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0r-t.cgi', //数据源地址
            params: {'LAYERS': 'nexrad-n0r-wmst'}       // WMS请求参数。 至少需要一个LAYERS参数。 STYLES默认是''。 VERSION默认为1.3.0。 WIDTH，HEIGHT，BBOX和CRS（WMS版本<1.3.0的SRS）将动态设置。 需要。
          })
        })
      ];
      //加载地图
      var olmap = new ol.Map({
        layers: layers, // 加载已定义的图层
        target: 'olmap',   //地图容器div的id
        view: new ol.View({  //地图为2D视图
          center: ol.extent.getCenter(extent), //获取范围的中心坐标。
          zoom: 4  //初始显示级别
        })
      });
        // 按钮事件
      function updateInfo() {
        var el = document.getElementById('info');
        el.innerHTML = startDate.toISOString();
      }

      function setTime() {
        startDate.setMinutes(startDate.getMinutes() + 15);
        if (startDate > Date.now()) {
          startDate = threeHoursAgo();
        }
        layers[1].getSource().updateParams({'TIME': startDate.toISOString()});
        updateInfo();
      }
      setTime();

      var stop = function() {
        if (animationId !== null) {
          window.clearInterval(animationId);
          animationId = null;
        }
      };

      var play = function() {
        stop();
        animationId = window.setInterval(setTime, 1000 / frameRate);
      };
        //两个按钮控件
      var startButton = document.getElementById('play');
      startButton.addEventListener('click', play, false);

      var stopButton = document.getElementById('pause');
      stopButton.addEventListener('click', stop, false);

      updateInfo();
    </script>

{% endblock %}


