{% extends "contentj.jinja2" %}
<title>Constrained scaling</title>

{% block headbody %}

    <link rel="stylesheet" href="https://www.osgeo.cn/static/f2elib/ol-7.4.x/ol.css" type="text/css">
    <!--Import the js file of the latest ol version.-->
    <script src="https://www.osgeo.cn/static/f2elib/ol-7.4.x/dist/ol.js"></script>
    <style>
        #olmap {
            border: 1px solid #ddd;
            width: 99%;
            height: 400px;
        }
    </style>

{% endblock %}

{% block cntbody %}

    <div id="olmap" class="olmap"></div>
    <br>

    <script>
        //Initially change the Map object to display the map.
        var olmap = new ol.Map({
            target: 'olmap',  // The id value of the div layer of the map container
            layers: [
                new ol.layer.Tile({  //Load the tile layer
                    source: new ol.source.Stamen({        //Layer source for Stamen Tile server.
                        layer: 'terrain'
                    })
                })
            ],
            view: new ol.View({  //Displays a simple 2D view of the map
                center: [-13553864, 5918250],   //Initial center of the map
                zoom: 11,    //The initial map display level is 2
                minZoom: 9,       //The minimum scaling level used to determine the resolution constraint. It is used with maxZoom (or minResolution) and zoomFactor. The default value is 0. Note that if maxResolution is also provided, it takes precedence over minZoom.
                maxZoom: 13       //Used to determine the maximum scaling level for resolution constraints. It is used with minZoom (or maxResolution) and zoomFactor. The default value is 28. Note that if minResolution is also provided, it takes precedence over maxZoom.
            })
        });
    </script>

{% endblock %}


